:root {
    --c1: rgb(23, 23, 23);
    --c2: rgb(250, 250, 250);
}

/* BODY */

.body {
    display: flex;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}

.body-header,
.body-main {
    /* height: calc(100vh / 3); */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.body-header {
    width: 35%;
    background-color: var(--c2);
    padding-left: 5rem;
}

.body-main {
    width: 65%;
    background-color: var(--c2);
    padding-right: 5rem;
}

/* HEADER */

.header-p-1 {
    color: var(--c1);
}

.header-div-p2 {
    color: var(--c2);
}

.header-p-1,
.header-div-p2,
.header-div-1 {
    text-align: center;
    /* display: flex; */
    width: 75%;
    margin: 0 auto;
}

.div-header-p,
.header-div-p2,
.header-div-1-img {
    border: 0.15rem solid var(--c1);
    /* box-shadow: 0 0 5px 1px black; */
    /* box-shadow: 5px 0 5px -5px rgba(0,0,0,0.7),
    -5px 0 5px -5px rgba(0,0,0,0.7); */
}

.header-div-1-img {
    border-bottom: none;
}

.header-p-1 {
    border-top:none;
    width: 75%;
    align-self: center;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


.header-div-1-img {
    /* margin-top: 50px; */
    height:100%;
}

.header-div-1-img {
    width: 75%;
    height: 50%;
    margin: 0 auto;
    margin-top: 6rem;
    display: flex;
}

.div-1-img {
    width: 70%;
    height: 75%;
    filter: drop-shadow(0 0 0.25rem black);
    align-self: flex-end;
    margin: 0 auto;
}


.header-div-1 {
    height: 1128.5px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header-div-p2 {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    border-top: none;
    height: fit-content;
    background-color: var(--c1);
}

.header-p-2 {
    /* height: 50%; */
    margin: 0 1rem;
    display: flex;
    text-align: left;
}

.header-p-3 {
    display: flex;
    text-align: left;
    margin: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.header-h2 {
    color: var(--c2);
    width:75%;
    border-bottom: 0.15rem solid var(--c2);
    padding-bottom: 1rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.header-h2-contact {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-h2-profile {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.div-header-p {
    display: flex;
    height: 50%;
    width: 75%;
    margin: 0 auto;
    border-top: none;
    justify-content: left;
}

.header-first-name,
.header-name {
    font-size: 2.5rem;
}

.header-name {
    font-weight: 600;
    display: flex;
    padding-bottom: 1rem;
    border-bottom: 0.15rem solid var(--c1);
}

.header-metier {
    font-size: 1.25rem;
    font-weight: 500;
}

.phone_number,
.email,
.adress {
    margin: 0 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    text-align: left;
    padding: 1rem 0;
    width: 75%;
}

/* .header-div-1 {
    margin-top: 2rem;
} */

.header-div-p2 {
    height: 1128.5px;
}

.div_left_bottom {
    margin-top: auto;
    margin-bottom: auto;
}

/* MAIN */

.main-p,
.main-p-2,
.main-p-3,
.main-p-4 {
    color: var(--c1);
}

/* .main-p-2 {
    color: var(--c1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 1rem auto 2rem auto;
    padding-bottom: 1rem;
} */

.main-h2 {
    display: flex;
    width: 75%;
    text-align: center;
    align-items: center;
    color: var(--c1);
    border-bottom: 0.15rem solid var(--c1);
    padding-bottom: 1rem;
    margin: 0 auto;
}

.main-h2-experience {
    margin-top: 6rem;
}

.main-p {
    text-align: left;
}

b,
u {
    margin-right: auto;
}

.main-p-3 {
    margin-right: auto;
    padding-left: 0;
    margin-left: 3em;
    text-align: left;
}

.p-experience,
.p-diploma,
.p-profile {
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.main-p-2 {
    margin-top: 1rem;
}

.p-profile {
    display: flex;
    text-align: left;
    margin-right: auto;
    margin-left: auto;
    align-self: flex-start;
}

.p-experience-text {
    width: calc(75% - 1rem);
    padding-left: 1rem;
    margin: 0 auto;
}

.main-p-1 {
    margin-bottom: 1rem;
    padding-bottom: 0;
}

h2.main-h2-hobbies {
    text-transform: uppercase;
}

.p-skills,
.p-hobbies {
    margin-bottom: 0.25rem;
}

.p-diploma-bottom,
.p-skills-bottom {
    margin-bottom: 2rem;
}

.p-experience-top {
    margin-top: 1rem;
}

.main-p-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p-skills {
    display: flex;
    width: calc(75% / 2);
    line-height: 1.5rem;
}

.main-p-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p-hobbies {
    display: flex;
    width: calc(75% / 2);
    margin-top: 2rem;
    line-height: 1.5rem;
}

.main-p-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 75%;
}

.p-diploma {
    width: 100%;
}

.p-diploma-top {
    margin-top: 2rem;
}

.p-experience-text {
    line-height: 1.5rem;
}

.p-experience-top {
    margin-top: 2rem;
}

main {
    padding-bottom: 5rem;
}